<div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-6">
                    <div class="logo"><a href="<?php echo $this->webroot;?>"><img src="<?php echo $this->webroot;?>assets/images/logo/logo.png" alt="" style ="max-width: none!important;"></a></div>
                </div>
                <div class="col-md-10 col-sm-9 col-xs-6">
                    <div class="mgea-full-width">
                        <div class="header-right">
                            <div class="header-menu hidden-sm hidden-xs">
                                <div class="menu">
                                    <ul>
                                        <li><a href="<?php echo $this->webroot;?>">Home</a>
                                           <!--  <ul class="dropdown_menu">
                                                <li><a href="index.html">home page one</a></li>
                                                <li><a href="index-2.html">home page two</a></li>
                                                <li><a href="index-3.html">home page three</a></li>
                                                <li><a href="index-4.html">home page four</a></li>
                                                <li><a href="index-box.html">home page five</a></li>
                                                <li><a href="index-box-fixed.html">home page six</a></li>
                                            </ul> -->
                                        </li>
                                        <li><a href="<?php echo $this->webroot;?>pages/aboutus">about</a></li>
                                        <!-- <li class="mega-parent"><a href="#">Elements</a>
                                            <ul class="mgea-menu">
                                                <li class="mega-sub"><a href="#">Column one</a>
                                                    <ul class="mega-sub-item">
                                                        <li><a href="elements-accordion.html">Accordion</a></li>
                                                        <li><a href="elements-tab.html">Tab</a></li>
                                                        <li><a href="elements-table.html">table</a></li>
                                                        <li><a href="elements-progressbar.html">progressbar</a></li>
                                                        <li><a href="elements-alerts.html">Alerts</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-sub"><a href="#">Column two</a>
                                                    <ul class="mega-sub-item">
                                                        <li><a href="elements-audio.html">Audio</a></li>
                                                        <li><a href="elements-video.html">vido</a></li>
                                                        <li><a href="elements-gallery.html">gallery one</a></li>
                                                        <li><a href="gallery.html">Gallery two</a></li>
                                                        <li><a href="elements-typhography.html">typhogrpahy</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-sub"><a href="#">Column Three</a>
                                                    <ul class="mega-sub-item">
                                                        <li><a href="elements-testimonail.html">Testimonial</a></li>
                                                        <li><a href="elements-brand.html">brand</a></li>
                                                        <li><a href="elements-team.html">Team</a></li>
                                                        <li><a href="elements-button.html">Button</a></li>
                                                        <li><a href="elements-map.html">map</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-sub"><a href="#">Column one</a>
                                                    <ul class="mega-sub-item">
                                                        <li><a href="elements-food-item-1.html">Food menu item 1</a></li>
                                                        <li><a href="elements-food-item-2.html">Food menu item 2</a></li>
                                                        <li><a href="elements-contact.html">Contact form</a></li>
                                                        <li><a href="elements-food-product.html">Food product</a></li>
                                                        <li><a href="elements-no-sticky.html">No sticky</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li> 
                                        <li><a href="#">Feature</a>
                                            <ul class="dropdown_menu">
                                                <li><a href="404.html">404</a></li>
                                                <li><a href="contact-us.html">contact us</a></li>
                                                <li class="dropdown-mega"><a href="index.html">home page</a>
                                                    <ul class="dropdown-submenu">
                                                        <li><a href="index-2.html">Animated text</a></li>
                                                        <li><a href="index-3.html">Video background</a></li>
                                                        <li><a href="index-4.html">Parallax verison</a></li>
                                                        <li><a href="index-box.html">Box layout</a></li>
                                                        <li><a href="index-box-fixed.html">Box layout fixed</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="blog.html">Blog page</a></li>
                                                <li><a href="blog-details.html">Blog details</a></li>
                                                <li class="dropdown-mega"><a href="#">Extra elements</a>
                                                    <ul class="dropdown-submenu">
                                                        <li><a href="elements-accordion.html">Accordion</a></li>
                                                        <li><a href="elements-tab.html">Tab</a></li>
                                                        <li><a href="elements-progressbar.html">progress bar</a></li>
                                                        <li><a href="elements-table.html">Table</a></li>
                                                        <li><a href="elements-audio.html">Audio</a></li>
                                                        <li><a href="elements-video.html">video</a></li>
                                                        <li><a href="elements-alerts.html">Alerts</a></li>
                                                        <li><a href="elements-typhography.html">Typhography</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="food-menu.html">Food menu</a></li>
                                                <li><a href="gallery.html">gallery</a></li>
                                            </ul>
                                        </li> -->
                                        <li><a href="<?php echo $this->webroot;?>pages/gallery">gallery</a></li>
                                        <li><a href="<?php echo $this->webroot;?>pages/menu">menu</a></li>
                                        <!-- <li><a href="<?php echo $this->webroot;?>Pages/blog">blog</a></li> -->
                                        <li><a href="<?php echo $this->webroot;?>pages/contact">contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- <div class="search">
                                <div class="search-inner">
                                    <a href="#"><i class="mdi mdi-magnify"></i></a>
                                </div>
                            </div>   -->
                        </div>
                        <!-- <div class="search-inside" style="display: none;">
                            <a href="#" class="search-close"><i class="mdi mdi-close"></i></a>
                            <div class="search-overlay"></div>
                            <div class="searchbar-inner">
                                <div class="search">
                                    <form action="#">
                                        <input type="search" placeholder="Search here"><button type="submit"><i class="mdi mdi-magnify"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile menu start -->
        <div class="mobile-menu-area hidden-lg hidden-md">
            <div class="container">
                <div class="col-md-12">
                    <nav id="dropdown">
                        <ul>
                            <li><a href="<?php echo $this->webroot;?>">Home</a>
                                <!-- <ul class="dropdown_menu">
                                    <li><a href="index.html">home page one</a></li>
                                    <li><a href="index-2.html">home page two</a></li>
                                    <li><a href="index-3.html">home page three</a></li>
                                    <li><a href="index-4.html">home page four</a></li>
                                    <li><a href="index-box.html">home page five</a></li>
                                    <li><a href="index-box-fixed.html">home page six</a></li>
                                </ul> -->
                            </li>
                             <li><a href="<?php echo $this->webroot;?>Pages/aboutus">about</a></li>
                            <!-- <li class="mega-parent"><a href="#">Elements</a>
                                <ul class="mgea-menu">
                                    <li class="mega-sub"><a href="#">Column one</a>
                                        <ul class="mega-sub-item">
                                            <li><a href="elements-accordion.html">Accordion</a></li>
                                            <li><a href="elements-tab.html">Tab</a></li>
                                            <li><a href="elements-table.html">table</a></li>
                                            <li><a href="elements-progressbar.html">progressbar</a></li>
                                            <li><a href="elements-alerts.html">Alerts</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-sub"><a href="#">Column two</a>
                                        <ul class="mega-sub-item">
                                            <li><a href="elements-audio.html">Audio</a></li>
                                            <li><a href="elements-video.html">vido</a></li>
                                            <li><a href="elements-gallery.html">gallery one</a></li>
                                            <li><a href="gallery.html">Gallery two</a></li>
                                            <li><a href="elements-typhography.html">typhogrpahy</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-sub"><a href="#">Column Three</a>
                                        <ul class="mega-sub-item">
                                            <li><a href="elements-testimonail.html">Testimonial</a></li>
                                            <li><a href="elements-brand.html">brand</a></li>
                                            <li><a href="elements-team.html">Team</a></li>
                                            <li><a href="elements-button.html">Button</a></li>
                                            <li><a href="elements-map.html">map</a></li>
                                        </ul>
                                    </li>
                                    <li class="mega-sub"><a href="#">Column one</a>
                                        <ul class="mega-sub-item">
                                            <li><a href="elements-food-item-1.html">Food menu item 1</a></li>
                                            <li><a href="elements-food-item-2.html">Food menu item 2</a></li>
                                            <li><a href="elements-contact.html">Contact form</a></li>
                                            <li><a href="elements-food-product.html">Food product</a></li>
                                            <li><a href="elements-no-sticky.html">No sticky</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Feature</a>
                                <ul class="dropdown_menu">
                                    <li><a href="404.html">404</a></li>
                                    <li><a href="contact-us.html">contact us</a></li>
                                    <li class="dropdown-mega"><a href="index.html">home page</a>
                                        <ul class="dropdown-submenu">
                                            <li><a href="index-2.html">Animated text</a></li>
                                            <li><a href="index-3.html">Video background</a></li>
                                            <li><a href="index-4.html">Parallax verison</a></li>
                                            <li><a href="index-box.html">Box layout</a></li>
                                            <li><a href="index-box-fixed.html">Box layout fixed</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">Blog page</a></li>
                                    <li><a href="blog-details.html">Blog details</a></li>
                                    <li class="dropdown-mega"><a href="#">Extra elements</a>
                                        <ul class="dropdown-submenu">
                                            <li><a href="elements-accordion.html">Accordion</a></li>
                                            <li><a href="elements-tab.html">Tab</a></li>
                                            <li><a href="elements-progressbar.html">progress bar</a></li>
                                            <li><a href="elements-table.html">Table</a></li>
                                            <li><a href="elements-audio.html">Audio</a></li>
                                            <li><a href="elements-video.html">video</a></li>
                                            <li><a href="elements-alerts.html">Alerts</a></li>
                                            <li><a href="elements-typhography.html">Typhography</a></li>
                                        </ul>
                                    </li> 
                                    <li><a href="food-menu.html">Food menu</a></li>
                                    <li><a href="gallery.html">gallery</a></li>
                                </ul>
                            </li>-->
                             <li><a href="<?php echo $this->webroot;?>Pages/gallery">gallery</a></li>
                             <li><a href="<?php echo $this->webroot;?>pages/menu">menu</a></li>
                                        <!-- <li><a href="<?php echo $this->webroot;?>Pages/blog">blog</a></li> -->
                            <li><a href="<?php echo $this->webroot;?>Pages/contact">contact us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Mobile menu end -->