<!-- <div class="menucategories view">
<h2><?php echo __('Menucategory'); ?></h2>
	<dl>
		<dt><?php echo __('Id'); ?></dt>
		<dd>
			<?php echo h($menucategory['Menucategory']['id']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Category'); ?></dt>
		<dd>
			<?php echo h($menucategory['Menucategory']['category']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Status'); ?></dt>
		<dd>
			<?php echo h($menucategory['Menucategory']['status']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Created'); ?></dt>
		<dd>
			<?php echo h($menucategory['Menucategory']['created']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Modified'); ?></dt>
		<dd>
			<?php echo h($menucategory['Menucategory']['modified']); ?>
			&nbsp;
		</dd>
	</dl>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('Edit Menucategory'), array('action' => 'edit', $menucategory['Menucategory']['id'])); ?> </li>
		<li><?php echo $this->Form->postLink(__('Delete Menucategory'), array('action' => 'delete', $menucategory['Menucategory']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $menucategory['Menucategory']['id']))); ?> </li>
		<li><?php echo $this->Html->link(__('List Menucategories'), array('action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Menucategory'), array('action' => 'add')); ?> </li>
	</ul>
</div>
 -->