<!--Breadcrubs start-->
        <div class="breadcrubs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcurbs-inner text-center">
                            <h3 class="breadcrubs-title">
                                about us
                            </h3>
                            <ul>
                                <li><a href="<?php echo $this->webroot;?>">home <span>//</span>  </a></li>
                                <li>about us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!--Breadcrubs end-->
        <!--resta about start-->
        <div class="resta-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="about-resta-inner">
                            <div class="about-resta-details">
                                <div class="about-title">
                                    <h2>About Our Kaayal Kerala Cuisine </h2>
                                </div>
                                <div class="about-description">
                                    <p class="text-1">
                                       We will serve you with the mouth watering dishes. Have a pleasant dining experience.
                                       Spices have always played an integral part of Kerala's history. Our food is an example of the very same and we have offerings for people from all over the world.  Be it famous international restaurant, we have everything a foodie could ask for prepared with that special Kerala taste to it. The cuisine here caters to vegetarians and non-vegetarians alike. Let the flavors of our past and our future take you on a delightful journey.
                                    </p>
                                    <p class="text-2">
                                       We offer the best Kerala food for an affordable price range. We undertake all kinds of catering works with Kerala food.

                                    </p>
                                </div>
                                <!-- <div class="see-video">
                                    <div class="see-more-video">
                                        <h3>see our video dishes</h3>
                                    </div>
                                    <div class="viedo--play">
                                        <a href="#"><i class="mdi mdi-play"></i></a>
                                    </div>
                                </div> -->
                            </div>
                            <div class="about-rest-img">
                                <img src="<?php echo $this->webroot;?>assets/images/about/about.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--resta about end-->
        
        <!--Fun factor start-->
       <!--  <div class="fun-factor ptb-100 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="single-fun-factor">
                            <div class="fun-icon">
                                <a href="#"><i class="mdi mdi-silverware"></i></a>
                                <h2 class="counter">300</h2>
                                <h5>Menu Items</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="single-fun-factor">
                            <div class="fun-icon">
                                <a href="#"><i class="mdi mdi-emoticon-happy"></i></a>
                                <h2 class="counter">600</h2>
                                <h5>Visitor Everyday</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="single-fun-factor">
                            <div class="fun-icon">
                                <a href="#"><i class="mdi mdi-human-male-female"></i></a>
                                <h2 class="counter">400</h2>
                                <h5>Expert Chef</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 hidden-sm col-xs-12">
                        <div class="single-fun-factor">
                            <div class="fun-icon">
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <h2 class="counter">100</h2>
                                <h5>Test & love</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!--Fun factor end-->
        
        <!--choose us start-->
       <!--  <div class="choose-us">
            <div class="choose-us-top pt-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="section-title white_bg mb-50 text-center">
                                <h2>Why Choose Us ?</h2>
                                
                                <p> The secret of success in life is to eat what you like and let the food fight it out inside,We offer the best Kerala food for an affordable price range.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="choose-use-img">
                                <img src="images/choose/choose.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="choose-us-desc grey-bg text-center">
               <div class="container">
                   <div class="row">
                       <div class="col-md-4 col-sm-4 col-xs-12">
                           <div class="single-choose">
                               <a href="#"><i class="fa fa-heart"></i></a>
                               <h5>clean environment</h5>
                               <p>We are keeping very Clean Enviorment for our customers</p>
                           </div>
                       </div>
                       <div class="col-md-4 col-sm-4 col-xs-12">
                           <div class="single-choose">
                               <a href="#"><i class="mdi mdi-human-male-female"></i></a>
                              <h5>Taste Food</h5>
                               <p> We will serve you with the mouth watering dishes.</p>
                           </div>
                       </div>
                       <div class="col-md-4 col-sm-4 col-xs-12">
                           <div class="single-choose">
                               <a href="#"><i class="fa fa-heart"></i></a>
                                <h5>Good service</h5>
                               <p>Providing All kind of service as a resturant.</p>
                               
                           </div>
                       </div>
                   </div>
               </div>
           </div>
        </div> -->
        <!--choose us end-->
        <!-- Our Team Area Start -->
		<div class="our-team-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title white_bg mb-50 text-center">
                            <h2>Our Lovely team</h2>
                            <!-- <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="single-member">
                            <div class="member-overlay-img">
                                <img src="<?php echo $this->webroot;?>assets/images/about/team/team.jpg" alt="">
                                <a href="<?php echo $this->webroot;?>assets/images/about/team/team.jpg" class="member-overlay">
                                    <i class="mdi mdi-plus"></i>
                                </a>
                                <div class="socail-icon">
                                    <ul>
                                        <li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-linkedin"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="member-content">
                                <!-- <p>Lorem ipsum are  dolordr sit amet, conbsectetuir adipiscing elit, sed do eiusmod tempor somosha incididunt ut labore et dolore magna aliqua.</p> -->
                                <div class="member-tag">
                                    <a href="#" class="member-name">NITHIN</a>
                                    <a href="#" class="member-post">Senior Chef</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="single-member">
                            <div class="member-overlay-img">
                                <img src="<?php echo $this->webroot;?>assets/images/about/team/team-2.jpg" alt="">
                                <a href="<?php echo $this->webroot;?>assets/images/about/team/team-2.jpg" class="member-overlay">
                                    <i class="mdi mdi-plus"></i>
                                </a>
                                <div class="socail-icon">
                                    <ul>
                                        
                                        <li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-linkedin"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="member-content">
                                <!-- <p>Lorem ipsum are  dolordr sit amet, conbsectetuir adipiscing elit, sed do eiusmod tempor somosha incididunt ut labore et dolore magna aliqua.</p> -->
                                <div class="member-tag">
                                    <a href="#" class="member-name">DAVIS</a>
                                    <a href="#" class="member-post">Senior Chef</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 hidden-sm col-xs-12">
                        <div class="single-member no-margin">
                            <div class="member-overlay-img">
                                <img src="<?php echo $this->webroot;?>assets/images/about/team/team-3.jpg" alt="">
                                <a href="<?php echo $this->webroot;?>assets/images/about/team/team-3.jpg" class="member-overlay">
                                    <i class="mdi mdi-plus"></i>
                                </a>
                                <div class="socail-icon">
                                    <ul>
                                        <li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-linkedin"></i></a></li>
                                        <li><a href="#"><i class="mdi mdi-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="member-content">
                                <!-- <p>Lorem ipsum are  dolordr sit amet, conbsectetuir adipiscing elit, sed do eiusmod tempor somosha incididunt ut labore et dolore magna aliqua.</p> -->
                                <div class="member-tag">
                                    <a href="#" class="member-name">SHIVANI</a>
                                    <a href="#" class="member-post">Special Cook</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>