<div style='padding-bottom:10px;'><?php echo $this->Session->flash(); //pr($totalusers);exit;?></div>
<!-- <link rel="stylesheet" href="<?php echo $this->webroot; ?>assets/plugins/data-tables/DT_bootstrap.css"/> -->

<br><br>
<style type="text/css">
.feeds .col2 .date{padding: 0px !important;}
</style>
			<!-- END PAGE HEADER-->
			<!-- BEGIN DASHBOARD STATS -->

			<!-- <div class="watermark">Demo <br>Content</div> -->
			<div class="row">
				
				<!-- <div class="col-md-4 ">
					<div class="dashboard-stat blue">
						<div class="visual">
							<i class="fa fa-tasks"></i>
						</div>
						<div class="details">
							<div class="number">
								 <?php //echo ;?>
							</div>
							<div class="desc">
								 Users
								 </div>
						</div>
						<?php ?>
						<a class="more" href="<?php  echo $this->webroot;?>admin/Users">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>	
						<?php  ?>	 
					</div>
				</div> -->
				<div class="col-md-4 ">
					<div class="dashboard-stat green">
						<div class="visual">
							<i class="fa fa-th-large"></i>
						</div>
						<div class="details">
							<div class="number">
								<?php //echo ;?>
							</div>
							<div class="desc">
								Menu Items
							</div>
						</div>
						<?php ?>
						<a class="more" href="<?php  echo $this->webroot;?>admin/menuitems/">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
						<?php ?>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="dashboard-stat red">
						<div class="visual">
							<i class="fa fa-camera"></i>
						</div>
						<div class="details">
							<div class="number">
								<?php //echo ;?>
							</div>
							<div class="desc">
								Image Gallery 
							</div>
						</div>
						<?php ?>
						<a class="more" href="<?php  echo $this->webroot;?>admin/galleries">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
						<?php ?>
					</div>
				</div>
				<!-- <div class="col-md-4 ">
					<div class="dashboard-stat yellow">
						<div class="visual">
							<i class="fa fa-book"></i>
						</div>
						<div class="details">
							<div class="number">
								<?php //echo ;?>
							</div>
							<div class="desc">
								Associates
							</div>
						</div>
						<?php ?>
						<a class="more" href="<?php  echo $this->webroot;?>admin/associates">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
						<?php ?>
					</div>
				</div> -->

				<!-- <div class="col-md-4 ">
					<div class="dashboard-stat purple">
						<div class="visual">
							<i class="fa fa-flag"></i>
						</div>
						<div class="details">
							<div class="number">
								<?php //echo ;?>
							</div>
							<div class="desc">
								New Trends
							</div>
						</div>
						<?php ?>
						<a class="more" href="<?php  echo $this->webroot;?>admin/trends">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
						<?php ?>
					</div>
				</div>
								
			</div> -->
			<!-- END DASHBOARD STATS -->
			<div class="clearfix">
			</div>
			
			<div class="clearfix">
			</div>
			<div class="clearfix">
			</div>
			<div class="clearfix">
			</div>
			<div class="row">
				
				
<script src="<?php echo $this->webroot; ?>assets/plugins/flot/jquery.flot.js"></script>
<script src="<?php echo $this->webroot; ?>assets/plugins/flot/jquery.flot.pie.js"></script>
<script src="<?php echo $this->webroot; ?>assets/scripts/charts.js"></script>
<script src="<?php echo $this->webroot; ?>assets/plugins/flot/jquery.flot.resize.js" type="text/javascript"></script>