<!-- <div class="menuitems view">
<h2><?php echo __('Menuitem'); ?></h2>
	<dl>
		<dt><?php echo __('Id'); ?></dt>
		<dd>
			<?php echo h($menuitem['Menuitem']['id']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Name'); ?></dt>
		<dd>
			<?php echo h($menuitem['Menuitem']['name']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Img'); ?></dt>
		<dd>
			<?php echo h($menuitem['Menuitem']['img']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Details'); ?></dt>
		<dd>
			<?php echo h($menuitem['Menuitem']['details']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Category'); ?></dt>
		<dd>
			<?php echo h($menuitem['Menuitem']['category']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Price'); ?></dt>
		<dd>
			<?php echo h($menuitem['Menuitem']['price']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Created'); ?></dt>
		<dd>
			<?php echo h($menuitem['Menuitem']['created']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Modified'); ?></dt>
		<dd>
			<?php echo h($menuitem['Menuitem']['modified']); ?>
			&nbsp;
		</dd>
	</dl>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('Edit Menuitem'), array('action' => 'edit', $menuitem['Menuitem']['id'])); ?> </li>
		<li><?php echo $this->Form->postLink(__('Delete Menuitem'), array('action' => 'delete', $menuitem['Menuitem']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $menuitem['Menuitem']['id']))); ?> </li>
		<li><?php echo $this->Html->link(__('List Menuitems'), array('action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Menuitem'), array('action' => 'add')); ?> </li>
	</ul>
</div>
 -->